---
- name: Check if automation-eda-controller.service is active
  ansible.builtin.systemd:
    name: automation-eda-controller.service
    state: started
  register: eda_status
  ignore_errors: true

- name: Debug eda_status
  ansible.builtin.debug:
    var: eda_status

- name: Check if automation-controller.service is active
  ansible.builtin.systemd:
    name: automation-controller.service
    state: started
  register: controller_status
  ignore_errors: true

- name: Debug eda_status
  ansible.builtin.debug:
    var: controller_status

- name: Set running_service to automation-eda-controller if active
  set_fact:
    aap_component: "automation-eda-controller"
  when: eda_status.state == "started"

- name: Set running_service to automation-controller if active
  set_fact:
    aap_component: "automation-controller"
  when: controller_status.state == "started"

- name: Print which service is running
  debug:
    msg: "The running component is {{ aap_component }}"