---
- name: Check if automation-eda-controller.service is active
  ansible.builtin.systemd:
    name: automation-eda-controller.service
    state: started
  register: eda_status
  ignore_errors: true

- name: Check if automation-controller.service is active
  ansible.builtin.systemd:
    name: automation-controller.service
    state: started
  register: controller_status
  ignore_errors: true

- name: Set running_service to automation-eda-controller if active
  set_fact:
    aap_component: "automation-eda-controller"
  when:
    - not eda_status.failed
    - eda_status.state == "started"

- name: Set running_service to automation-controller if active
  set_fact:
    aap_component: "automation-controller"
  when:
    - not controller_status.failed
    - controller_status.state == "started"

- name: Print which service is running
  debug:
    msg: "The running component is {{ aap_component }}"