---
- name: Check for SSL certificate
  uri:
    url: "https://{{ dns_name }}"
    method: HEAD
    return_content: no
    status_code: 200
    timeout: 10
  register: website_response
  ignore_errors: yes

- name: Display result
  debug:
    msg: "SSL certificate is present and valid for {{ dns_name }}"
  when: website_response.status is defined and website_response.status == 200

- name: Display SSL error and issue new cert
  when: website_response.status is not defined or website_response.status != 200
  block: 
    - name: Display error message
      debug:
        msg: "SSL certificate is not present or invalid for {{ dns_name }}"

    - name: Include tasks to issue new SSL cert with letsencrypt
      ansible.builtin.include_tasks: 10_issue_cert.yml