---
  # directions found here https://certbot.eff.org/lets-encrypt/centosrhel8-other
- name: install certbot if not already installed
  ansible.builtin.dnf:
    name: certbot
    state: present
    disable_gpg_check: true

# # https://docs.ansible.com/ansible-tower/latest/html/administration/init_script.html
# - name: turn off Ansible Tower
#   shell: ansible-tower-service stop

- name: make sure Automation Controller nginx is stopped
  service:
    name: nginx
    state: stopped
  register: stop_controller
  until: stop_controller is not failed
  retries: 5

- name: SSL cert block
  block:
    # If this fails check out status of certbot: https://letsencrypt.status.io/
    - name: ISSUE CERT
      shell: certbot certonly --no-bootstrap --standalone -d {{ dns_name }} --email ansible-network@redhat.com --noninteractive --agree-tos
      register: issue_cert
      until: issue_cert is not failed
      retries: 5

    - name: debug issue_cert output
      debug:
        var: issue_cert

    - name: Extract certificate path when newly created
      when: "'Certificate not yet' not in issue_cert.stdout_lines | join(' ')"
      block:
      - name: Set fact for certificate path
        set_fact:
          certificate_path: "{{ issue_cert.stdout_lines | select('match', '^Certificate is saved at:.*') | first | regex_replace('^Certificate is saved at: ', '') }}"

      - name:  Print out certificate_path
        debug: 
          var: certificate_path

    - name: Extract certificate path for when already renewed in /etc/letsencrypt/live
      when: "'Certificate not yet' in issue_cert.stdout_lines | join(' ')"
      block: 
        - name: List directories
          find:
            paths: "/etc/letsencrypt/live"
            file_type: directory
          register: dirs

        - name: Sort directories by modification time and get the newest
          set_fact:
            newest_directory: "{{ dirs.files | sort(attribute='mtime', reverse=true) | first }}"

        - name: Output the newest directory
          debug:
            msg: "Newest directory is {{ newest_directory.path }}"          

    - name: Move SSL Key to /etc/tower/tower.key
      copy:
        remote_src: true
        src: "/etc/letsencrypt/live/{{ dns_name }}/privkey.pem"
        dest: /etc/tower/tower.key

    - name: Retrieve newl cert.pem from /etc/letsencrypt/live and store in variable generated_cert
      slurp:
        src: "/etc/letsencrypt/live/{{ dns_name }}/cert.pem"
      register: generated_cert

    - name: Combine generated_cert and intermediate cert and move to /etc/tower/tower.cert
      template:
        src: combined_cert.j2
        dest: /etc/tower/tower.cert

- name: make sure Automation Controller nginx is started
  service:
    name: nginx
    state: started
  register: stop_controller
  until: stop_controller is not failed
  retries: 5
